<!-- <form (ngSubmit)="submitForm()" #leaveForm="ngForm">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="employeeEmail">
  </div>
  <div class="form-group">
    <label for="leaveType">Leave Type:</label>
    <select id="leaveType" name="leaveType" class="form-control" required [(ngModel)]="leaveType">
      <option value="Sick Leave">Sick Leave</option>
      <option value="Vacation Leave">Vacation Leave</option>
       Add more leave types as needed -->
    <!-- </select>
  </div>
  <div class="form-group">
    <label for="leaveReason">Reason for Leave:</label>
    <textarea id="leaveReason" name="leaveReason" class="form-control" rows="4" required [(ngModel)]="leaveReason"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="leaveForm.valid">Submit</button>
</form> --> 
 <router-outlet></router-outlet>